<section>
  <header>
     <h2>Jahecha Paraguay</h2>
  </header>
  <div class="register">
    <div>
      <header>
        Introduzca sus datos personales y datos de su vehiculo.
      </header>
      <div>
        <input type="text"  pInputText placeholder="Nombre" [(ngModel)]="register.nombre"/>
      </div>
      <div>
 
        <input type="text"  pInputText placeholder="Apellido" [(ngModel)]="register.apellido"/>
      </div>
      <div>
 
        <input type="text"  pInputText placeholder="e-mail" [(ngModel)]="register.email"/>
      </div>
      <div>

        <input type="password" pInputText placeholder="Password"  [(ngModel)]="register.password"/>
      </div>
      <div>

        <input type="text"  pInputText placeholder="Telefono" [(ngModel)]="register.telefono"/>
      </div>
      <div>

        <input type="text" pInputText placeholder="Modelo de Auto" [(ngModel)]="register.modelodeauto"/>
      </div>
      <div>
 
        <input type="text" pInputText placeholder="Chapa Identificatoria" [(ngModel)]="register.chapaidentificatoria"/>
      </div>
      <button type="button" (click)=newregister()>Registrarse</button>
    </div>
  </div>
</section>